In [1]:
import pandas as pd

path = 'data/dataset_TSMC2014_NYC.txt' # New York City
data = pd.read_csv(path,sep='\t',header=None,
    names=['uid','vid','vcid','vc_name','lat','long','timezone_offset','utc_time'])
# user_id, venue_id, venue_category_id, venue_category_name, latitude, longitude, timezone_offset_in_minutes, UTC_time
data.head()

,uid,vid,vcid,vc_name,lat,long,timezone_offset,utc_time
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012

In [2]:
def big_vc_name(name:str):
    if 'Restaurant' in name or name in ['BBQ Joint','Fish & Chips Shop','Fried Chicken Joint','Salad Place',
    'Steakhouse','Breakfast Spot','Burrito Place','Sandwich Place','Ramen /  Noodle House','Burger Joint',
    'Taco Place', 'Hot Dog Joint','Wings Joint','Soup Place','Pizza Place','cafe','Diner','Mac & Cheese Joint']: 
        return 'Restaurant'
    elif name in ['Deli / Bodega','Snack Place','Ice Cream Shop','Candy Store',
    'Bagel Shop','Food Truck','Cupcake Shop','Bakery','Donut Shop',
    'Dessert Shop','Food','Food & Drink Shop']:
        return 'Food & Snack'
    elif 'School' in name or name in ['College Academic Building','University',
    'Community College','College & University','General College & University','Student Center']:
        return 'School'
    elif name in ['College Stadium','Playground','Bowling Alley','Pool Hall','Ski Area',
    'Gym / Fitness Center','Stadium','Pool','Athletic & Sport']:
        return 'Place for Sports'
    elif name in ['Ferry','Bus Station','Light Rail','Train Station','Taxi','Airport','Subway']:
        return 'Transportation'
    elif 'Museum' in name or name in ['Public Art','Arts & Entertainment',
    'Historic Site','Arts & Crafts Store','Art Gallery','Sculpture Garden',
    'Music Venue','Antique Shop','Music Store','Thrift / Vintage Store']:
        return 'History, Museum & Arts'
    elif name in ['Nail Salon','Salon / Barbershop','Tanning Salon','Cosmetics Shop','Spa / Massage',
    'Tattoo Parlor']:
        return 'Beauty, Cosmetology & Hairdressing'
    elif name in ['Motorcycle Shop','Board Shop','Bike Rental / Bike Share',
    'Rental Car Location','Automotive Shop','Bike Shop']:
        return 'Vehicle Shop'
    elif name in ['Gas Station / Garage','Car Wash','Parking','Car Dealership']:
        return 'Vehicle-Related Place'
    elif name in ['Movie Theater','Comedy Club','Casino','Bar',
    'Tea Room','Other Nightlife','General Entertainment',
    'Nightlife Spot','College Theater','Performing Arts Venue','Theater',
    'Internet Cafe','Coffee Shop','Gaming Cafe',
    'Gastropub','Arcade','Beer Garden','Concert Hall']:
        return 'Indoor Entertainment'
    elif name in ['Racetrack','Harbor / Marina','Outdoors & Recreation','Zoo','Park','Aquarium',
    'Beach','Plaza','Other Great Outdoors','Scenic Lookout','Garden','Garden Center','Campground','River']:
        return 'Outdoor Entertainment'
    elif name in ['Spiritual Center','Church','Synagogue','Shrine','Mosque','Temple']:
        return 'Religion & Spirituality'
    elif name in ['Sorority House','Event Space','Fraternity House']:
        return 'Place for Socializing'
    elif name in ['Flea Market','Market','Fair','Department Store','Convenience Store','Mall']:
        return 'Store, Market & Fair'
    elif name in ['General Travel','Travel & Transport','Travel Lounge']:
        return 'Travel-Related Place'
    elif name in ['Jewelry Store','Clothing Store','Bridal Shop']:
        return 'Clothing & Jewelry'
    elif name in ['Drugstore / Pharmacy','Medical Center']:
        return 'Medical-Related Place'
    elif name in ['Pet Service','Pet Store','Animal Shelter']:
        return 'Pet-Related Place'
    elif name in ['Residential Building (Apartment / Condo)','Housing Development','Home (private)']:
        return 'Residence'
    elif name in ['Winery','Distillery','Brewery']:
        return 'Alcoholic-Related Place'
    elif name in ['Video Store','Gift Shop','Video Game Store','Toy / Game Store','Record Shop','Hobby Shop','Flower Shop']:
        return 'Shop Related to Entertainment'
    elif name in ['Planetarium','Bookstore','Library']:
        return 'General Education Place'
    elif name in ['Funeral Home','Cemetery']:
        return 'Funeral'
    elif name in ['Electronics Store','Camera Store','Mobile Phone Shop']:
        return 'Electronics'
    else: return name
data['big_vc_name']=[big_vc_name(name) for name in data.vc_name]
vc_to_dropped=['City','Building','Shop & Service','Photography Lab',
'Military Base','Road','Moving Target']
print(data.shape)
data=data.drop(data[data.vc_name.isin(vc_to_dropped)].index)
print(data.shape)
big_vc_names=sorted(list(set(data.big_vc_name)))

(227428, 9)
(219328, 9)

In [3]:
print(len(big_vc_names))
print(big_vc_names)

49
['Alcoholic-Related Place', 'Bank', 'Beauty, Cosmetology & Hairdressing', 'Bridge', 'Castle', 'Clothing & Jewelry', 'Convention Center', 'Design Studio', 'Electronics', 'Embassy / Consulate', 'Factory', 'Financial or Legal Service', 'Food & Snack', 'Funeral', 'Furniture / Home Store', 'General Education Place', 'Government Building', 'Hardware Store', 'History, Museum & Arts', 'Hotel', 'Indoor Entertainment', 'Laundry Service', 'Medical-Related Place', 'Miscellaneous Shop', 'Neighborhood', 'Newsstand', 'Office', 'Outdoor Entertainment', 'Paper / Office Supplies Store', 'Pet-Related Place', 'Place for Socializing', 'Place for Sports', 'Post Office', 'Professional & Other Places', 'Recycling Facility', 'Religion & Spirituality', 'Residence', 'Rest Area', 'Restaurant', 'School', 'Shop Related to Entertainment', 'Smoke Shop', 'Sporting Goods Shop', 'Storage Facility', 'Store, Market & Fair', 'Transportation', 'Travel-Related Place', 'Vehicle Shop', 'Vehicle-Related Place']

In [4]:
from datetime import datetime

def time_handler(t_str):
    t_list=t_str.split()
    # Fri Jun 01 17:04:42 +0000 2012
    return ' '.join([t_list[1],t_list[2],t_list[3],t_list[-1]])

data['utc_time_value']=[datetime.strptime(time_handler(t_str),'%b %d %H:%M:%S %Y') for t_str in data.utc_time]
data.head()

,uid,vid,vcid,vc_name,lat,long,timezone_offset,utc_time,big_vc_name,utc_time_value
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012,"History, Museum & Arts",2012-04-03 18:00:09
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012,Bridge,2012-04-03 18:00:25
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012,Residence,2012-04-03 18:02:24
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012,Medical-Related Place,2012-04-03 18:02:41
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012,Food & Snack,2012-04-03 18:03:00

In [5]:
from tqdm import tqdm

start_t=pd.Timestamp(min(data.utc_time_value).date())
print(start_t)
num_uids=max(data.uid)-min(data.uid)+1
time_granularity=60*5 # 5 min
seconds_of_day=60*60*24
data['modified_uid']=[int((data.utc_time_value.iloc[i]-start_t).total_seconds()/seconds_of_day)*num_uids+data.uid.iloc[i]
 for i in tqdm(range(len(data)))]
data['timestamp']=[int((data.utc_time_value.iloc[i]-pd.Timestamp(data.utc_time_value.iloc[i].date())).total_seconds()/time_granularity)
 for i in tqdm(range(len(data)))]
data.head()

2012-04-03 00:00:00

100%|████████████████████████████████| 219328/219328 [00:11<00:00, 19643.67it/s]
100%|████████████████████████████████| 219328/219328 [00:12<00:00, 17006.30it/s]

,uid,vid,vcid,vc_name,lat,long,timezone_offset,utc_time,big_vc_name,utc_time_value,modified_uid,timestamp
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012,"History, Museum & Arts",2012-04-03 18:00:09,470,216
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012,Bridge,2012-04-03 18:00:25,979,216
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012,Residence,2012-04-03 18:02:24,69,216
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012,Medical-Related Place,2012-04-03 18:02:41,395,216
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012,Food & Snack,2012-04-03 18:03:00,87,216

In [6]:
def process_time(time,base = datetime(2012,4,3,18,0,25,0)):
    dt = time - base
    seconds = dt.total_seconds()
    return seconds/3600

In [7]:
df = data.loc[data['vc_name'].isin(big_vc_names)]
df = df[['uid','vc_name','utc_time_value']]
hours = df['utc_time_value'].apply(process_time)
p = {'uid':df['uid'],'vc_name':df['vc_name'], 'hours' : hours}
pdata = pd.DataFrame(p)
#pdata = pd.DataFrame(vc_name = df['vc_name'],hours = hours)
pdata = pdata.sort_values(['uid',])
pdata.head()

    uid              vc_name     hours
1   979               Bridge  0.000000
9   877                 Bank  0.098333
17  135           Restaurant  0.177500
20  891  Government Building  0.195556
24  699               Office  0.215556

In [6]:
data_processed=data.filter(['modified_uid','vid','big_vc_name','timestamp']).sort_values('timestamp')
data_processed.head()

,modified_uid,vid,big_vc_name,timestamp
85693,60539,4e4ea51a8877402b06b83022,Place for Sports,0
117401,97051,4b200f21f964a520ac2c24e3,Transportation,0
152084,149239,4a35c715f964a5205e9d1fe3,"History, Museum & Arts",0
152085,148673,4a083214f964a520a3731fe3,Indoor Entertainment,0
152086,149239,4aec8c22f964a5208cc821e3,"History, Museum & Arts",0

In [7]:
import numpy as np
from tqdm import tqdm

zero_df=np.zeros((np.max(data_processed.timestamp)+1,len(big_vc_names)))
colo_nums=pd.DataFrame(data=zero_df,columns=big_vc_names)
for i in tqdm(range(len(data_processed))):
    timestamp=data_processed.timestamp.iloc[i]
    colo_type=data_processed.big_vc_name.iloc[i]
    colo_nums.at[timestamp,colo_type]+=1
print(colo_nums.head())
colo_nums.to_csv(path[:-4]+'_processed.csv')

100%|██████████| 219328/219328 [00:09<00:00, 23663.84it/s]

   Alcoholic-Related Place  Bank  Beauty, Cosmetology & Hairdressing  Bridge  \
0                      1.0  10.0                                22.0    12.0
1                      1.0   0.0                                10.0     8.0
2                      2.0   6.0                                20.0     2.0
3                      2.0   3.0                                10.0     9.0
4                      0.0   5.0                                10.0     4.0

   Castle  Clothing & Jewelry  Convention Center  Design Studio  Electronics  \
0     0.0                19.0                3.0            0.0          7.0
1     0.0                13.0                1.0            1.0          4.0
2     0.0                15.0                2.0            0.0          4.0
3     0.0                 7.0                1.0            0.0          7.0
4     0.0                24.0                1.0            0.0          7.0

   Embassy / Consulate  ...  School  Shop Related to Entertainment  \
0                  1.0  ...    25.0                            5.0
1                  0.0  ...    20.0                            4.0
2                  1.0  ...    17.0                            0.0
3                  1.0  ...    20.0                            1.0
4                  0.0  ...    22.0                            2.0

   Smoke Shop  Sporting Goods Shop  Storage Facility  Store, Market & Fair  \
0         0.0                  3.0               0.0                  28.0
1         1.0                  3.0               0.0                  24.0
2         3.0                  9.0               1.0                  23.0
3         9.0                  2.0               0.0                  25.0
4         9.0                  2.0               0.0                  23.0

   Transportation  Travel-Related Place  Vehicle Shop  Vehicle-Related Place
0           124.0                   5.0           1.0                    5.0
1           122.0                   4.0           1.0                   11.0
2           102.0                   3.0           1.0                   12.0
3           111.0                   1.0           3.0                   14.0
4           111.0                   2.0           2.0                    9.0

[5 rows x 49 columns]

In [8]:
assert(colo_nums.to_numpy().sum()==len(data))

In [9]:
num_bvc={n:0 for n in big_vc_names} # number of venues of a big venue category
for key in num_bvc:
    num_bvc[key]=len(set(data_processed.vid[data_processed.big_vc_name==key]))
print(num_bvc)

{'Alcoholic-Related Place': 39, 'Bank': 671, 'Beauty, Cosmetology & Hairdressing': 1110, 'Bridge': 90, 'Castle': 1, 'Clothing & Jewelry': 1070, 'Convention Center': 64, 'Design Studio': 44, 'Electronics': 265, 'Embassy / Consulate': 20, 'Factory': 21, 'Financial or Legal Service': 27, 'Food & Snack': 3463, 'Funeral': 52, 'Furniture / Home Store': 124, 'General Education Place': 187, 'Government Building': 388, 'Hardware Store': 127, 'History, Museum & Arts': 872, 'Hotel': 345, 'Indoor Entertainment': 4579, 'Laundry Service': 256, 'Medical-Related Place': 1472, 'Miscellaneous Shop': 309, 'Neighborhood': 309, 'Newsstand': 9, 'Office': 1341, 'Outdoor Entertainment': 1822, 'Paper / Office Supplies Store': 88, 'Pet-Related Place': 120, 'Place for Socializing': 231, 'Place for Sports': 1277, 'Post Office': 189, 'Professional & Other Places': 53, 'Recycling Facility': 3, 'Religion & Spirituality': 408, 'Residence': 1986, 'Rest Area': 26, 'Restaurant': 8283, 'School': 1163, 'Shop Related to Entertainment': 327, 'Smoke Shop': 29, 'Sporting Goods Shop': 105, 'Storage Facility': 6, 'Store, Market & Fair': 465, 'Transportation': 2287, 'Travel-Related Place': 224, 'Vehicle Shop': 362, 'Vehicle-Related Place': 515}

In [10]:
tt=0
for key in num_bvc:
    tt+=len(data_processed.vid[data_processed.big_vc_name==key])
assert(tt==len(data))

In [11]:
num_users={} # map from timestamp to num of users
for i in range(len(data_processed)):
    t=data_processed.timestamp.iloc[i]
    if t not in num_users: num_users[t]={data_processed.modified_uid.iloc[i],}
    else: num_users[t].add(data_processed.modified_uid.iloc[i])
for t in num_users:
    num_users[t]=len(num_users[t])
print(num_users)

{0: 1203, 1: 1101, 2: 1056, 3: 1082, 4: 1057, 5: 970, 6: 1020, 7: 983, 8: 951, 9: 1015, 10: 985, 11: 967, 12: 918, 13: 863, 14: 847, 15: 837, 16: 782, 17: 824, 18: 789, 19: 731, 20: 733, 21: 707, 22: 714, 23: 712, 24: 670, 25: 628, 26: 678, 27: 686, 28: 699, 29: 627, 30: 638, 31: 601, 32: 627, 33: 566, 34: 596, 35: 564, 36: 532, 37: 533, 38: 557, 39: 527, 40: 566, 41: 492, 42: 611, 43: 515, 44: 556, 45: 513, 46: 540, 47: 485, 48: 505, 49: 463, 50: 455, 51: 495, 52: 471, 53: 444, 54: 431, 55: 428, 56: 408, 57: 392, 58: 392, 59: 353, 60: 413, 61: 369, 62: 322, 63: 359, 64: 322, 65: 339, 66: 312, 67: 319, 68: 280, 69: 281, 70: 263, 71: 272, 72: 265, 73: 251, 74: 252, 75: 239, 76: 249, 77: 210, 78: 300, 79: 204, 80: 192, 81: 178, 82: 213, 83: 180, 84: 170, 85: 188, 86: 165, 87: 197, 88: 140, 89: 156, 90: 214, 91: 141, 92: 153, 93: 132, 94: 121, 95: 129, 96: 130, 97: 143, 98: 134, 99: 151, 100: 165, 101: 167, 102: 122, 103: 147, 104: 133, 105: 123, 106: 128, 107: 134, 108: 129, 109: 145, 110: 153, 111: 152, 112: 161, 113: 172, 114: 168, 115: 203, 116: 188, 117: 198, 118: 237, 119: 258, 120: 239, 121: 227, 122: 232, 123: 277, 124: 257, 125: 284, 126: 390, 127: 320, 128: 331, 129: 369, 130: 453, 131: 441, 132: 495, 133: 496, 134: 486, 135: 472, 136: 469, 137: 566, 138: 615, 139: 610, 140: 688, 141: 785, 142: 759, 143: 736, 144: 874, 145: 819, 146: 852, 147: 844, 148: 884, 149: 870, 150: 937, 151: 966, 152: 921, 153: 974, 154: 986, 155: 1015, 156: 1110, 157: 1151, 158: 1045, 159: 1082, 160: 1012, 161: 961, 162: 1048, 163: 944, 164: 948, 165: 917, 166: 922, 167: 936, 168: 982, 169: 950, 170: 897, 171: 823, 172: 845, 173: 795, 174: 798, 175: 735, 176: 726, 177: 762, 178: 716, 179: 719, 180: 726, 181: 711, 182: 737, 183: 674, 184: 647, 185: 674, 186: 706, 187: 621, 188: 675, 189: 611, 190: 692, 191: 745, 192: 756, 193: 745, 194: 778, 195: 794, 196: 867, 197: 833, 198: 841, 199: 887, 200: 866, 201: 871, 202: 937, 203: 908, 204: 1027, 205: 951, 206: 1052, 207: 952, 208: 1031, 209: 1008, 210: 1047, 211: 1029, 212: 1066, 213: 944, 214: 1003, 215: 967, 216: 1103, 217: 983, 218: 1037, 219: 1046, 220: 1001, 221: 955, 222: 970, 223: 924, 224: 958, 225: 868, 226: 876, 227: 918, 228: 918, 229: 831, 230: 814, 231: 833, 232: 917, 233: 885, 234: 852, 235: 864, 236: 827, 237: 858, 238: 847, 239: 845, 240: 806, 241: 815, 242: 853, 243: 758, 244: 847, 245: 773, 246: 831, 247: 774, 248: 803, 249: 822, 250: 790, 251: 840, 252: 862, 253: 850, 254: 906, 255: 889, 256: 887, 257: 930, 258: 931, 259: 938, 260: 931, 261: 899, 262: 966, 263: 983, 264: 1000, 265: 1079, 266: 1063, 267: 1088, 268: 1117, 269: 1095, 270: 1100, 271: 1100, 272: 1143, 273: 1156, 274: 1160, 275: 1169, 276: 1127, 277: 1087, 278: 1143, 279: 1244, 280: 1152, 281: 1197, 282: 1205, 283: 1149, 284: 1125, 285: 1136, 286: 1135, 287: 1128}

In [12]:
zero_df=np.zeros((np.max(data_processed.timestamp)+1,len(big_vc_names)))
modified_pis=pd.DataFrame(data=zero_df,columns=big_vc_names)
colo_patt_info={bvcn:{'unique_uids':set(),'unique_vids':set()} for bvcn in big_vc_names}
curr_t=data_processed.timestamp.iloc[0]

for i in tqdm(range(len(data_processed))):
    t=data_processed.timestamp.iloc[i]    
    colo_type=data_processed.big_vc_name.iloc[i]
    m_uid=data_processed.modified_uid.iloc[i]
    vid=data_processed.vid.iloc[i]
    
    if curr_t<t:
        for bvcn in big_vc_names:
            modified_pis[bvcn][curr_t]=max(
                len(colo_patt_info[bvcn]['unique_vids'])/num_bvc[bvcn],
                len(colo_patt_info[bvcn]['unique_uids'])/num_users[curr_t]
            )
        colo_patt_info={bvcn:{'unique_uids':set(),'unique_vids':set()} for bvcn in big_vc_names}
        curr_t=t
    elif curr_t>t: raise(Exception('curr_t>t!'))

    colo_patt_info[colo_type]['unique_uids'].add(m_uid)
    colo_patt_info[colo_type]['unique_vids'].add(vid)

# for the last timestamp
for bvcn in big_vc_names:
    modified_pis[bvcn][curr_t]=max(
        len(colo_patt_info[bvcn]['unique_vids'])/num_bvc[bvcn],
        len(colo_patt_info[bvcn]['unique_uids'])/num_users[curr_t]
    )

modified_pis.head()

100%|██████████| 219328/219328 [00:16<00:00, 13598.47it/s]

,Alcoholic-Related Place,Bank,"Beauty, Cosmetology & Hairdressing",Bridge,Castle,Clothing & Jewelry,Convention Center,Design Studio,Electronics,Embassy / Consulate,...,School,Shop Related to Entertainment,Smoke Shop,Sporting Goods Shop,Storage Facility,"Store, Market & Fair",Transportation,Travel-Related Place,Vehicle Shop,Vehicle-Related Place
0,0.025641,0.014903,0.019820,0.088889,0.0,0.015794,0.046875,0.000000,0.026415,0.05,...,0.016337,0.015291,0.000000,0.028571,0.000000,0.053763,0.096426,0.022321,0.002762,0.009709
1,0.025641,0.000000,0.009083,0.066667,0.0,0.012150,0.015625,0.022727,0.015094,0.00,...,0.017257,0.012232,0.034483,0.028571,0.000000,0.043011,0.105359,0.017857,0.002762,0.021359
2,0.051282,0.008942,0.018939,0.022222,0.0,0.014205,0.031250,0.000000,0.011321,0.05,...,0.014617,0.000000,0.034483,0.066667,0.166667,0.040860,0.092803,0.013393,0.002762,0.023301
3,0.051282,0.002981,0.009242,0.088889,0.0,0.006542,0.015625,0.000000,0.022642,0.05,...,0.017560,0.003058,0.068966,0.019048,0.000000,0.049462,0.097043,0.004464,0.008287,0.027184
4,0.000000,0.007452,0.009009,0.044444,0.0,0.022706,0.015625,0.000000,0.022642,0.00,...,0.018921,0.006116,0.034483,0.019048,0.000000,0.043011,0.099338,0.008929,0.005525,0.015534

In [13]:
modified_pis.to_csv(path[:-4]+'_mpi.csv')